In [35]:
import pandas as pd
import numpy as np

In [36]:
crash_df = pd.read_csv('Maryland_Statewide_Vehicle_Crashes (1).csv')

C:\Users\John\AppData\Local\Temp\ipykernel_2908\2701673622.py:1: DtypeWarning: Columns (33,45) have mixed types. Specify dtype option on import or set low_memory=False.
  crash_df = pd.read_csv('Maryland_Statewide_Vehicle_Crashes (1).csv')

In [37]:
crash_df.head()

,YEAR,QUARTER,LIGHT_DESC,LIGHT_CODE,COUNTY_DESC,COUNTY_NO,MUNI_DESC,MUNI_CODE,JUNCTION_DESC,JUNCTION_CODE,...,FEET_MILES_FLAG_DESC,FEET_MILES_FLAG,DISTANCE_DIR_FLAG,REFERENCE_NO,REFERENCE_TYPE_CODE,REFERENCE_SUFFIX,REFERENCE_ROAD_NAME,LATITUDE,LONGITUDE,LOCATION
0,2020,Q2,Daylight,1.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.277263,-76.503693,POINT (-76.5036932 39.27726285)
1,2022,Q2,Dark Lights On,3.00,Montgomery,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.992210,-77.097021,POINT (-77.097020666667 38.9922095)
2,2020,Q4,NaN,6.02,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.323620,-76.503080,POINT (-76.503080116667 39.323620083333)
3,2022,Q1,Daylight,1.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.411213,-76.628028,POINT (-76.628028425147 39.411213105087)
4,2022,Q2,Dark Lights On,3.00,Queen Anne's,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.974880,-76.281090,POINT (-76.28109 38.97488)

In [38]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878343 entries, 0 to 878342
Data columns (total 55 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   878343 non-null  int64
 1   QUARTER                878343 non-null  object
 2   LIGHT_DESC             841025 non-null  object
 3   LIGHT_CODE             878343 non-null  float64
 4   COUNTY_DESC            878329 non-null  object
 5   COUNTY_NO              878329 non-null  float64
 6   MUNI_DESC              0 non-null       float64
 7   MUNI_CODE              659957 non-null  float64
 8   JUNCTION_DESC          760119 non-null  object
 9   JUNCTION_CODE          791512 non-null  float64
 10  COLLISION_TYPE_DESC    878343 non-null  object
 11  COLLISION_TYPE_CODE    878343 non-null  int64
 12  SURF_COND_DESC         789107 non-null  object
 13  SURF_COND_CODE         791512 non-null  float64
 14  LANE_CODE              668083 non-null  float64
 15  RD_COND_DESC           791512 non-null  object
 16  RD_COND_CODE           791512 non-null  float64
 17  RD_DIV_DESC            786857 non-null  object
 18  RD_DIV_CODE            791512 non-null  float64
 19  FIX_OBJ_DESC           831232 non-null  object
 20  FIX_OBJ_CODE           878343 non-null  float64
 21  REPORT_NO              878343 non-null  object
 22  REPORT_TYPE            767610 non-null  object
 23  WEATHER_DESC           450477 non-null  object
 24  WEATHER_CODE           878343 non-null  float64
 25  ACC_DATE               878343 non-null  int64
 26  ACC_TIME               878343 non-null  object
 27  LOC_CODE               401188 non-null  object
 28  SIGNAL_FLAG_DESC       878343 non-null  object
 29  SIGNAL_FLAG            878343 non-null  object
 30  C_M_ZONE_FLAG          878343 non-null  object
 31  AGENCY_CODE            878343 non-null  object
 32  AREA_CODE              878343 non-null  object
 33  HARM_EVENT_DESC1       282884 non-null  object
 34  HARM_EVENT_CODE1       878343 non-null  float64
 35  HARM_EVENT_DESC2       878343 non-null  object
 36  HARM_EVENT_CODE2       878343 non-null  float64
 37  RTE_NO                 702722 non-null  float64
 38  ROUTE_TYPE_CODE        704483 non-null  object
 39  RTE_SUFFIX             18031 non-null   object
 40  LOG_MILE               788015 non-null  float64
 41  LOGMILE_DIR_FLAG_DESC  707681 non-null  object
 42  LOGMILE_DIR_FLAG       707699 non-null  object
 43  MAINROAD_NAME          791503 non-null  object
 44  DISTANCE               772976 non-null  float64
 45  FEET_MILES_FLAG_DESC   299396 non-null  object
 46  FEET_MILES_FLAG        791511 non-null  object
 47  DISTANCE_DIR_FLAG      788134 non-null  object
 48  REFERENCE_NO           695509 non-null  float64
 49  REFERENCE_TYPE_CODE    704721 non-null  object
 50  REFERENCE_SUFFIX       19077 non-null   object
 51  REFERENCE_ROAD_NAME    790703 non-null  object
 52  LATITUDE               878343 non-null  float64
 53  LONGITUDE              878343 non-null  float64
 54  LOCATION               878343 non-null  object
dtypes: float64(19), int64(3), object(33)
memory usage: 368.6+ MB

In [39]:
new_cols = ['YEAR','QUARTER','LIGHT_DESC',	'COUNTY_DESC', 'COUNTY_NO',	'COLLISION_TYPE_DESC',	'REPORT_NO',	'REPORT_TYPE',	'ACC_DATE',	'ACC_TIME',	'LOC_CODE',	'AGENCY_CODE',	'HARM_EVENT_DESC1',	'RTE_NO',	'MAINROAD_NAME',	'LATITUDE',	'LONGITUDE',	'LOCATION']
crash_df = crash_df[new_cols]
crash_df.info()
len(crash_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878343 entries, 0 to 878342
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 878343 non-null  int64
 1   QUARTER              878343 non-null  object
 2   LIGHT_DESC           841025 non-null  object
 3   COUNTY_DESC          878329 non-null  object
 4   COUNTY_NO            878329 non-null  float64
 5   COLLISION_TYPE_DESC  878343 non-null  object
 6   REPORT_NO            878343 non-null  object
 7   REPORT_TYPE          767610 non-null  object
 8   ACC_DATE             878343 non-null  int64
 9   ACC_TIME             878343 non-null  object
 10  LOC_CODE             401188 non-null  object
 11  AGENCY_CODE          878343 non-null  object
 12  HARM_EVENT_DESC1     282884 non-null  object
 13  RTE_NO               702722 non-null  float64
 14  MAINROAD_NAME        791503 non-null  object
 15  LATITUDE             878343 non-null  float64
 16  LONGITUDE            878343 non-null  float64
 17  LOCATION             878343 non-null  object
dtypes: float64(4), int64(2), object(12)
memory usage: 120.6+ MB

878343

In [40]:
#crash_df = 
len(crash_df[crash_df.YEAR > 2014])
#crash_df.info()

878343