In [1]:
import pandas as pd
import numpy as np

In [73]:
traffic_df = pd.read_csv('Maryland_Annual_Average_Daily_Traffic_-_Annual_Average_Daily_Traffic_(SHA_Statewide_AADT_Lines).csv', low_memory=False)

In [74]:
traffic_df.head()

,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,ID_RTE_NO,MP_SUFFIX,...,AAWDT_2018_ANNO,AAWDT_ANNO,MOTORCYCLE_AADT_ANNO,CAR_AADT_ANNO,BUS_AADT_ANNO,LIGHT_TRUCK_AADT_ANNO,SINGLE_UNIT_AADT_ANNO,COMBINATION_UNIT_AADT_ANNO,TRUCK_AADT_ANNO,Shape_Length
0,1,S1998030065,3,Baltimore,0,None,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,,...,"5,151","5,192",NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.853968
1,2,S2008030007,3,Baltimore,0,None,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,,...,725,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.857691
2,3,S2011020910,2,Anne Arundel,0,None,Elm Rd,SR,9,,...,"11,011","11,432",NaN,NaN,NaN,NaN,NaN,NaN,NaN,679.124474
3,4,B0810,2,Anne Arundel,0,None,John Hanson Hwy,IS,595,,...,"98,270","98,961",260.0,"75,714",679.0,"12,222","2,813",3463.0,6276.0,9847.487806
4,5,S2000020143,2,Anne Arundel,0,None,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,,...,"1,473","1,464",NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.682537

In [77]:
system_df = traffic_df[['F_SYSTEM', 'F_SYSTEM_DESC']]
a = system_df.F_SYSTEM.unique()
b = system_df.F_SYSTEM_DESC.unique()
systemid = pd.DataFrame(a,b)
systemid = systemid.reset_index()
systemid = systemid.rename(columns={0: 'System_ID', 'index': 'System_Name'})
systemid = systemid.sort_values(by='System_ID')
systemid = systemid.set_index('System_Name')
systemid.head(2)

                                                   System_ID
System_Name
Interstate                                                 1
Principal Arterial Other Freeways and Expressways          2

In [76]:
county_df = traffic_df[['COUNTY_ID', 'COUNTY_DESC']]
a = county_df.COUNTY_ID.unique()
b = county_df.COUNTY_DESC.unique()
countyid = pd.DataFrame(a,b)
countyid = countyid.reset_index()
countyid = countyid.rename(columns={0: 'County_ID', 'index': 'County_Name'})
countyid = countyid.sort_values(by='County_ID')
countyid = countyid.set_index('County_Name')
countyid.head(2)

              County_ID
County_Name
Allegany              1
Anne Arundel          2

In [79]:
traffic_df = traffic_df.drop(traffic_df.columns[41:], axis=1)
traffic_df = traffic_df.drop(columns=['LINK', 'ROUTEID', 'MUNICIPALITY', 'ROUTEID_RH', 'MP_SUFFIX', 'BEGIN_SECTION', 'END_SECTION', 
                                      'MUN_SORT', 'OBJECTID', 'STATION_DESC', 'ROAD_SECTION', 'ID_MP', 'RURAL_URBAN', 'MAIN_LINE',
                                      'COUNTED_FACTORED', 'STMP_SEQ', 'K_FACTOR', 'D_FACTOR','NORTH_EAST_SPLIT', 'SOUTH_WEST_SPLIT',
                                      'PEAK_HOUR_DIRECTION', 'LOCATION_ID', 'NUM_LANES', 'PEAK_HOUR_DIRECTION', 'AADT_2010', 'AADT_2011',
                                      'AADT_2012', 'AADT_2013', 'AADT_2014'])

In [81]:
traffic_df = traffic_df.rename(columns={'AADT': 'AADT_2019'})

In [82]:
traffic_df.head()

,COUNTY_ID,COUNTY_DESC,ROADNAME,ID_PREFIX,ID_RTE_NO,F_SYSTEM,F_SYSTEM_DESC,AVMT,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019
0,3,Baltimore,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,1,Interstate,0.1093,5024.0,5135.0,4980.0,4951.0,4992
1,3,Baltimore,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,1,Interstate,0.0128,652.0,673.0,694.0,695.0,700
2,2,Anne Arundel,Elm Rd,SR,9,5,Major Collector,1.1759,9664.0,9855.0,10480.0,10391.0,10392
3,2,Anne Arundel,John Hanson Hwy,IS,595,1,Interstate,166.0099,82640.0,90180.0,90190.0,94490.0,95151
4,2,Anne Arundel,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,2,Principal Arterial Other Freeways and Expressways,0.0201,1320.0,1351.0,1382.0,1373.0,1374

In [84]:
traffic_df = traffic_df.sort_values(by='COUNTY_ID')

In [85]:
traffic_df.set_index(['COUNTY_ID', 'COUNTY_DESC'])

                                                     ROADNAME ID_PREFIX  \
COUNTY_ID COUNTY_DESC
1         Allegany                               Mcmullen Hwy        US
          Allegany                                    Uhl Hwy        MD
          Allegany                            Country Club Rd        MD
          Allegany                              N Allegany St        MU
          Allegany                                Mv Smith Rd        CO
...                                                       ...       ...
24        Baltimore City      Ramp 6 Fr Us 40 Eb To Md 151 Sb        RP
          Baltimore City      Ramp 10 Fr Is 95 Nb To Is 95 Nb        RP
          Baltimore City  Ramp 8 Fr Md 41 Sb To Northern Pkwy        RP
          Baltimore City                Harbor Tunnel Thruway        IS
          Baltimore City               Greene St (sb Couplet)        MD

                          ID_RTE_NO  F_SYSTEM             F_SYSTEM_DESC  \
COUNTY_ID COUNTY_DESC
1         Allegany              220         3  Principal Arterial Other
          Allegany               51         6           Minor Collector
          Allegany              639         5           Major Collector
          Allegany               60         5           Major Collector
          Allegany              570         6           Minor Collector
...                             ...       ...                       ...
24        Baltimore City         40         3  Principal Arterial Other
          Baltimore City         95         1                Interstate
          Baltimore City         41         3  Principal Arterial Other
          Baltimore City        895         1                Interstate
          Baltimore City        295         4            Minor Arterial

                             AVMT  AADT_2015  AADT_2016  AADT_2017  AADT_2018  \
COUNTY_ID COUNTY_DESC
1         Allegany         2.0482    12282.0    12080.0    12351.0    12282.0
          Allegany         0.9811     1172.0     1220.0     1251.0     1242.0
          Allegany         0.0340     1741.0     1772.0     1560.0     1551.0
          Allegany         0.0390     1272.0     1303.0     1334.0     1325.0
          Allegany         0.0323      100.0      101.0      102.0      103.0
...                           ...        ...        ...        ...        ...
24        Baltimore City   0.0669        NaN        NaN        NaN     3063.0
          Baltimore City   0.9074        NaN        NaN        NaN    12415.0
          Baltimore City   0.2685     4730.0     4821.0     4942.0     4903.0
          Baltimore City  13.1945    82550.0    84281.0    86302.0    85783.0
          Baltimore City   0.4581     9321.0     9502.0     9733.0     9654.0

                          AADT_2019
COUNTY_ID COUNTY_DESC
1         Allegany            12470
          Allegany             1200
          Allegany             1552
          Allegany             1335
          Allegany              104
...                             ...
24        Baltimore City       3054
          Baltimore City      12430
          Baltimore City       4904
          Baltimore City      53954
          Baltimore City       9655

[10665 rows x 11 columns]