In [1]:
import pandas as pd
import numpy as np

In [60]:
traffic_df = pd.read_csv('Maryland_Annual_Average_Daily_Traffic_-_Annual_Average_Daily_Traffic_(SHA_Statewide_AADT_Lines).csv', low_memory=False)

In [61]:
traffic_df.head()

,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,ID_RTE_NO,MP_SUFFIX,...,AAWDT_2018_ANNO,AAWDT_ANNO,MOTORCYCLE_AADT_ANNO,CAR_AADT_ANNO,BUS_AADT_ANNO,LIGHT_TRUCK_AADT_ANNO,SINGLE_UNIT_AADT_ANNO,COMBINATION_UNIT_AADT_ANNO,TRUCK_AADT_ANNO,Shape_Length
0,1,S1998030065,3,Baltimore,0,None,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,,...,"5,151","5,192",NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.853968
1,2,S2008030007,3,Baltimore,0,None,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,,...,725,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.857691
2,3,S2011020910,2,Anne Arundel,0,None,Elm Rd,SR,9,,...,"11,011","11,432",NaN,NaN,NaN,NaN,NaN,NaN,NaN,679.124474
3,4,B0810,2,Anne Arundel,0,None,John Hanson Hwy,IS,595,,...,"98,270","98,961",260.0,"75,714",679.0,"12,222","2,813",3463.0,6276.0,9847.487806
4,5,S2000020143,2,Anne Arundel,0,None,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,,...,"1,473","1,464",NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.682537

In [66]:
system_df = traffic_df[['F_SYSTEM', 'F_SYSTEM_DESC']]
a = system_df.F_SYSTEM.unique()
b = system_df.F_SYSTEM_DESC.unique()
systemid = pd.DataFrame(a,b)
systemid = systemid.reset_index()
systemid = systemid.rename(columns={0: 'System_ID', 'index': 'System_Name'})
systemid = systemid.sort_values(by='System_ID')
systemid = systemid.set_index('System_Name')
systemid

                                                   System_ID
System_Name
Interstate                                                 1
Principal Arterial Other Freeways and Expressways          2
Principal Arterial Other                                   3
Minor Arterial                                             4
Major Collector                                            5
Minor Collector                                            6
Local                                                      7

In [67]:
county_df = traffic_df[['COUNTY_ID', 'COUNTY_DESC']]
a = county_df.COUNTY_ID.unique()
b = county_df.COUNTY_DESC.unique()
countyid = pd.DataFrame(a,b)
countyid = countyid.reset_index()
countyid = countyid.rename(columns={0: 'County_ID', 'index': 'County_Name'})
countyid = countyid.sort_values(by='County_ID')
countyid = countyid.set_index('County_Name')
countyid

                 County_ID
County_Name
Allegany                 1
Anne Arundel             2
Baltimore                3
Calvert                  4
Caroline                 5
Carroll                  6
Cecil                    7
Charles                  8
Dorchester               9
Frederick               10
Garrett                 11
Harford                 12
Howard                  13
Kent                    14
Montgomery              15
Prince George's         16
Queen Anne's            17
St. Mary's              18
Somerset                19
Talbot                  20
Washington              21
Wicomico                22
Worcester               23
Baltimore City          24

In [62]:
traffic_df = traffic_df.drop(traffic_df.columns[41:], axis=1)

In [63]:
traffic_df = traffic_df.drop(columns=['LINK', 'ROUTEID', 'MUNICIPALITY', 'ROUTEID_RH', 'MP_SUFFIX', 'BEGIN_SECTION', 'END_SECTION', 
                                      'MUN_SORT', 'OBJECTID', 'STATION_DESC', 'ROAD_SECTION', 'ID_MP', 'RURAL_URBAN', 'MAIN_LINE',
                                      'COUNTED_FACTORED', 'STMP_SEQ', 'K_FACTOR', 'D_FACTOR','NORTH_EAST_SPLIT', 'SOUTH_WEST_SPLIT',
                                      'PEAK_HOUR_DIRECTION'])

In [64]:
traffic_df.head()

,LOCATION_ID,COUNTY_ID,COUNTY_DESC,ROADNAME,ID_PREFIX,ID_RTE_NO,F_SYSTEM,F_SYSTEM_DESC,PEAK_HOUR_DIRECTION,NUM_LANES,...,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT
0,S1998030065,3,Baltimore,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,1,Interstate,East,1,...,4372.0,4830.0,4851.0,4902.0,4903.0,5024.0,5135.0,4980.0,4951.0,4992
1,S2008030007,3,Baltimore,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,1,Interstate,North,1,...,702.0,703.0,714.0,630.0,631.0,652.0,673.0,694.0,695.0,700
2,S2011020910,2,Anne Arundel,Elm Rd,SR,9,5,Major Collector,South,3,...,NaN,9500.0,9421.0,9442.0,9413.0,9664.0,9855.0,10480.0,10391.0,10392
3,B0810,2,Anne Arundel,John Hanson Hwy,IS,595,1,Interstate,East,6,...,85820.0,87580.0,87530.0,88321.0,88232.0,82640.0,90180.0,90190.0,94490.0,95151
4,S2000020143,2,Anne Arundel,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,2,Principal Arterial Other Freeways and Expressways,West,1,...,1260.0,1271.0,1262.0,1273.0,1274.0,1320.0,1351.0,1382.0,1373.0,1374