In [1]:
import pandas as pd
import numpy as np

In [6]:
traffic_df = pd.read_csv('Maryland_Annual_Average_Daily_Traffic_-_Annual_Average_Daily_Traffic_(SHA_Statewide_AADT_Lines).csv', low_memory=False)

In [7]:
traffic_df.head()

,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,ID_RTE_NO,MP_SUFFIX,...,AAWDT_2018_ANNO,AAWDT_ANNO,MOTORCYCLE_AADT_ANNO,CAR_AADT_ANNO,BUS_AADT_ANNO,LIGHT_TRUCK_AADT_ANNO,SINGLE_UNIT_AADT_ANNO,COMBINATION_UNIT_AADT_ANNO,TRUCK_AADT_ANNO,Shape_Length
0,1,S1998030065,3,Baltimore,0,None,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,,...,"5,151","5,192",NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.853968
1,2,S2008030007,3,Baltimore,0,None,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,,...,725,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.857691
2,3,S2011020910,2,Anne Arundel,0,None,Elm Rd,SR,9,,...,"11,011","11,432",NaN,NaN,NaN,NaN,NaN,NaN,NaN,679.124474
3,4,B0810,2,Anne Arundel,0,None,John Hanson Hwy,IS,595,,...,"98,270","98,961",260.0,"75,714",679.0,"12,222","2,813",3463.0,6276.0,9847.487806
4,5,S2000020143,2,Anne Arundel,0,None,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,,...,"1,473","1,464",NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.682537