In [3]:
import pandas as pd
import numpy as np

In [4]:
traffic_df = pd.read_csv('Maryland_Annual_Average_Daily_Traffic_-_Annual_Average_Daily_Traffic_(SHA_Statewide_AADT_Lines).csv', low_memory=False)

In [5]:
traffic_df.head()

,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,ID_RTE_NO,MP_SUFFIX,...,AAWDT_2018_ANNO,AAWDT_ANNO,MOTORCYCLE_AADT_ANNO,CAR_AADT_ANNO,BUS_AADT_ANNO,LIGHT_TRUCK_AADT_ANNO,SINGLE_UNIT_AADT_ANNO,COMBINATION_UNIT_AADT_ANNO,TRUCK_AADT_ANNO,Shape_Length
0,1,S1998030065,3,Baltimore,0,None,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,,...,"5,151","5,192",NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.853968
1,2,S2008030007,3,Baltimore,0,None,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,,...,725,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.857691
2,3,S2011020910,2,Anne Arundel,0,None,Elm Rd,SR,9,,...,"11,011","11,432",NaN,NaN,NaN,NaN,NaN,NaN,NaN,679.124474
3,4,B0810,2,Anne Arundel,0,None,John Hanson Hwy,IS,595,,...,"98,270","98,961",260.0,"75,714",679.0,"12,222","2,813",3463.0,6276.0,9847.487806
4,5,S2000020143,2,Anne Arundel,0,None,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,,...,"1,473","1,464",NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.682537

In [6]:
system_df = traffic_df[['F_SYSTEM', 'F_SYSTEM_DESC']]
a = system_df.F_SYSTEM.unique()
b = system_df.F_SYSTEM_DESC.unique()
systemid = pd.DataFrame(a,b)
systemid = systemid.reset_index()
systemid = systemid.rename(columns={0: 'System_ID', 'index': 'System_Name'})
systemid = systemid.sort_values(by='System_ID')
systemid = systemid.set_index('System_Name')
systemid.head(2)

                                                   System_ID
System_Name
Interstate                                                 1
Principal Arterial Other Freeways and Expressways          2

In [7]:
county_df = traffic_df[['COUNTY_ID', 'COUNTY_DESC']]
a = county_df.COUNTY_ID.unique()
b = county_df.COUNTY_DESC.unique()
countyid = pd.DataFrame(a,b)
countyid = countyid.reset_index()
countyid = countyid.rename(columns={0: 'County_ID', 'index': 'County_Name'})
countyid = countyid.sort_values(by='County_ID')
countyid = countyid.set_index('County_Name')
countyid.head(2)

              County_ID
County_Name
Allegany              1
Anne Arundel          2

In [8]:
traffic_df = traffic_df.drop(traffic_df.columns[41:], axis=1)
traffic_df = traffic_df.drop(columns=['LINK', 'ROUTEID', 'MUNICIPALITY', 'ROUTEID_RH', 'MP_SUFFIX', 'BEGIN_SECTION', 'END_SECTION', 
                                      'MUN_SORT', 'OBJECTID', 'STATION_DESC', 'ROAD_SECTION', 'ID_MP', 'RURAL_URBAN', 'MAIN_LINE',
                                      'COUNTED_FACTORED', 'STMP_SEQ', 'K_FACTOR', 'D_FACTOR','NORTH_EAST_SPLIT', 'SOUTH_WEST_SPLIT',
                                      'PEAK_HOUR_DIRECTION', 'LOCATION_ID', 'NUM_LANES', 'PEAK_HOUR_DIRECTION', 'AADT_2010', 'AADT_2011',
                                      'AADT_2012', 'AADT_2013', 'AADT_2014'])

In [9]:
traffic_df = traffic_df.rename(columns={'AADT': 'AADT_2019'})

In [10]:
traffic_df.head()

,COUNTY_ID,COUNTY_DESC,ROADNAME,ID_PREFIX,ID_RTE_NO,F_SYSTEM,F_SYSTEM_DESC,AVMT,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019
0,3,Baltimore,Ramp 4 Fr Md 146 Nb To Ramp 5 (to Is695),RP,695,1,Interstate,0.1093,5024.0,5135.0,4980.0,4951.0,4992
1,3,Baltimore,Ramp 4 Fr Is 83 Nb To Middletown Rd Eb,RP,83,1,Interstate,0.0128,652.0,673.0,694.0,695.0,700
2,2,Anne Arundel,Elm Rd,SR,9,5,Major Collector,1.1759,9664.0,9855.0,10480.0,10391.0,10392
3,2,Anne Arundel,John Hanson Hwy,IS,595,1,Interstate,166.0099,82640.0,90180.0,90190.0,94490.0,95151
4,2,Anne Arundel,Ramp 2 Fr Ramp 7 (fr Md100 Wb) To Md 713,RP,100,2,Principal Arterial Other Freeways and Expressways,0.0201,1320.0,1351.0,1382.0,1373.0,1374

In [11]:
traffic_df = traffic_df.sort_values(by='COUNTY_ID')

In [12]:
traffic_df.set_index(['COUNTY_ID', 'COUNTY_DESC', 'F_SYSTEM','F_SYSTEM_DESC'])

                                                                                       ROADNAME  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other                         Mcmullen Hwy
                         6        Minor Collector                                       Uhl Hwy
                         5        Major Collector                               Country Club Rd
                                  Major Collector                                 N Allegany St
                         6        Minor Collector                                   Mv Smith Rd
...                                                                                         ...
24        Baltimore City 3        Principal Arterial Other      Ramp 6 Fr Us 40 Eb To Md 151 Sb
                         1        Interstate                    Ramp 10 Fr Is 95 Nb To Is 95 Nb
                         3        Principal Arterial Other  Ramp 8 Fr Md 41 Sb To Northern Pkwy
                         1        Interstate                              Harbor Tunnel Thruway
                         4        Minor Arterial                         Greene St (sb Couplet)

                                                           ID_PREFIX  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other        US
                         6        Minor Collector                 MD
                         5        Major Collector                 MD
                                  Major Collector                 MU
                         6        Minor Collector                 CO
...                                                              ...
24        Baltimore City 3        Principal Arterial Other        RP
                         1        Interstate                      RP
                         3        Principal Arterial Other        RP
                         1        Interstate                      IS
                         4        Minor Arterial                  MD

                                                            ID_RTE_NO  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other        220
                         6        Minor Collector                  51
                         5        Major Collector                 639
                                  Major Collector                  60
                         6        Minor Collector                 570
...                                                               ...
24        Baltimore City 3        Principal Arterial Other         40
                         1        Interstate                       95
                         3        Principal Arterial Other         41
                         1        Interstate                      895
                         4        Minor Arterial                  295

                                                               AVMT  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other   2.0482
                         6        Minor Collector            0.9811
                         5        Major Collector            0.0340
                                  Major Collector            0.0390
                         6        Minor Collector            0.0323
...                                                             ...
24        Baltimore City 3        Principal Arterial Other   0.0669
                         1        Interstate                 0.9074
                         3        Principal Arterial Other   0.2685
                         1        Interstate                13.1945
                         4        Minor Arterial             0.4581

                                                            AADT_2015  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other    12282.0
                         6        Minor Collector              1172.0
                         5        Major Collector              1741.0
                                  Major Collector              1272.0
                         6        Minor Collector               100.0
...                                                               ...
24        Baltimore City 3        Principal Arterial Other        NaN
                         1        Interstate                      NaN
                         3        Principal Arterial Other     4730.0
                         1        Interstate                  82550.0
                         4        Minor Arterial               9321.0

                                                            AADT_2016  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other    12080.0
                         6        Minor Collector              1220.0
                         5        Major Collector              1772.0
                                  Major Collector              1303.0
                         6        Minor Collector               101.0
...                                                               ...
24        Baltimore City 3        Principal Arterial Other        NaN
                         1        Interstate                      NaN
                         3        Principal Arterial Other     4821.0
                         1        Interstate                  84281.0
                         4        Minor Arterial               9502.0

                                                            AADT_2017  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other    12351.0
                         6        Minor Collector              1251.0
                         5        Major Collector              1560.0
                                  Major Collector              1334.0
                         6        Minor Collector               102.0
...                                                               ...
24        Baltimore City 3        Principal Arterial Other        NaN
                         1        Interstate                      NaN
                         3        Principal Arterial Other     4942.0
                         1        Interstate                  86302.0
                         4        Minor Arterial               9733.0

                                                            AADT_2018  \
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other    12282.0
                         6        Minor Collector              1242.0
                         5        Major Collector              1551.0
                                  Major Collector              1325.0
                         6        Minor Collector               103.0
...                                                               ...
24        Baltimore City 3        Principal Arterial Other     3063.0
                         1        Interstate                  12415.0
                         3        Principal Arterial Other     4903.0
                         1        Interstate                  85783.0
                         4        Minor Arterial               9654.0

                                                            AADT_2019
COUNTY_ID COUNTY_DESC    F_SYSTEM F_SYSTEM_DESC
1         Allegany       3        Principal Arterial Other      12470
                         6        Minor Collector                1200
                         5        Major Collector                1552
                                  Major Collector                1335
                         6        Minor Collector                 104
...                                                               ...
24        Baltimore City 3        Principal Arterial Other       3054
                         1        Interstate                    12430
                         3        Principal Arterial Other       4904
                         1        Interstate                    53954
                         4        Minor Arterial                 9655

[10665 rows x 9 columns]

In [40]:
crashdata_df = pd.read_csv('Dropped_crash_data.csv')
crashdata_df

,Unnamed: 0,YEAR,QUARTER,LIGHT_DESC,COUNTY_NO,COLLISION_TYPE_DESC,REPORT_NO,REPORT_TYPE,ACC_DATE,ACC_TIME,AGENCY_CODE,RTE_NO,MAINROAD_NAME
0,12,2017,Q2,Daylight,24.0,Single Vehicle,ADI7910042,Injury Crash,20170507,10:39:00,BALTIMORE,NaN,NaN
1,45,2017,Q2,Daylight,15.0,Same Direction Sideswipe,MCP3048000X,Property Damage Crash,20170602,12:05:00,MONTGOMERY,NaN,NaN
2,57,2017,Q4,Dark Lights On,16.0,Single Vehicle,CE3909001P,Injury Crash,20171223,19:25:00,LAUREL,NaN,NaN
3,59,2017,Q4,Daylight,15.0,Other,MCP1433001D,Property Damage Crash,20171012,14:57:00,MONTGOMERY,NaN,NaN
4,87,2018,Q1,Daylight,2.0,Single Vehicle,AB36760083,Property Damage Crash,20180111,16:00:00,ANNAPOLIS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
571343,823382,2019,Q3,Daylight,8.0,Same Direction Rear End,MDTA1582000H,Property Damage Crash,20190824,11:30:00,MDTA,301.0,CRAIN HWY
571344,823383,2019,Q3,Daylight,15.0,Head On Left Turn,MCP1475002C,Injury Crash,20190922,10:00:00,MONTGOMERY,340.0,RUSSELL AVE
571345,823384,2016,Q2,Daylight,3.0,Single Vehicle,AE5643000S,Property Damage Crash,20160510,06:09:00,BACOPD,2937.0,HILLTOP RD S
571346,823385,2018,Q4,Daylight,3.0,Same Direction Left Turn,MSP6836008R,Property Damage Crash,20181016,09:59:00,MSP,695.0,BALTO BELTWAY
571347,823386,2018,Q3,Dark No Lights,16.0,Same Direction Rear End,DA31750026,Property Damage Crash,20180929,19:50:00,PGCOPD,210.0,INDIAN HEAD HWY

In [36]:
crashdata_df = crashdata_df.drop(columns=['HARM_EVENT_DESC1', 'Unnamed: 0'])

In [37]:
crashdata_df.dropna()

,YEAR,QUARTER,LIGHT_DESC,COUNTY_NO,COLLISION_TYPE_DESC,REPORT_NO,REPORT_TYPE,ACC_DATE,ACC_TIME,AGENCY_CODE,RTE_NO,MAINROAD_NAME
32,2016,Q2,Daylight,24.0,Same Movement Angle,ADJ619002B,Property Damage Crash,20160517,06:00:00,BALTIMORE,147.0,HARFORD RD
69,2016,Q3,Daylight,24.0,Other,ADI1140056,Property Damage Crash,20160703,15:00:00,BALTIMORE,140.0,REISTERSTOWN RD
133,2017,Q4,Daylight,16.0,Other,HB04380008,Property Damage Crash,20171027,18:05:00,PGPARK,221.0,MCLAIN AVE #1
151,2016,Q4,Daylight,15.0,Single Vehicle,MCP30050019,Injury Crash,20161012,11:15:00,MONTGOMERY,1274.0,WHEATON LA
152,2017,Q2,Daylight,24.0,Same Direction Rear End,ADH2870003,Property Damage Crash,20170524,12:10:00,BALTIMORE,151.0,ERDMAN AVE
...,...,...,...,...,...,...,...,...,...,...,...,...
571343,2019,Q3,Daylight,8.0,Same Direction Rear End,MDTA1582000H,Property Damage Crash,20190824,11:30:00,MDTA,301.0,CRAIN HWY
571344,2019,Q3,Daylight,15.0,Head On Left Turn,MCP1475002C,Injury Crash,20190922,10:00:00,MONTGOMERY,340.0,RUSSELL AVE
571345,2016,Q2,Daylight,3.0,Single Vehicle,AE5643000S,Property Damage Crash,20160510,06:09:00,BACOPD,2937.0,HILLTOP RD S
571346,2018,Q4,Daylight,3.0,Same Direction Left Turn,MSP6836008R,Property Damage Crash,20181016,09:59:00,MSP,695.0,BALTO BELTWAY
571347,2018,Q3,Dark No Lights,16.0,Same Direction Rear End,DA31750026,Property Damage Crash,20180929,19:50:00,PGCOPD,210.0,INDIAN HEAD HWY

In [38]:
crashdata_df['YEAR'].value_counts()

2016    117977
2018    115933
2019    113513
2017    113192
2015    110733
Name: YEAR, dtype: int64